@model PetManager.ViewModels.PetsAndAnimalTypeVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Pet.Name's Info</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pet.PetId" />
            <input type="hidden" asp-for="Pet.AnimalTypeId" />
            <input type="hidden" asp-for="Pet.PhotoPath" />
            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Age" class="control-label"></label>
                <input asp-for="Pet.Age" class="form-control" />
                <span asp-validation-for="Pet.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Update Photo</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Pet.PetId">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
