@model PetManager.ViewModels.TasksAndPetsVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetOwner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetOwner.LastName)
            </th>
        </tr>
    </thead>

</table>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9" style="background-color:grey;">
        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Completed</th>
                </tr>
            </thead>
            @foreach(ToDoTask task in Model.CurrentUsersTasks)
            {
                <tr>
                    <td>@Html.DisplayFor(t => task.TaskName)</td>
                </tr>
            }
        </table>
    </div>
</div>
