@model PetManager.ViewModels.TasksAndPetsVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetOwner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetOwner.LastName)
            </th>
            <th></th>
        </tr>
    </thead>

</table>
