@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pet Manager!</h1>
    <p style="font-size:25px">Login for existing users or register to start managing all your pet info!</p>
</div>
