@model PetManager.ViewModels.TaskWithAllCurrentPets

@{
    ViewData["Title"] = "Create";
}
<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.TaskName" class="control-label"></label>
                <input asp-for="Task.TaskName" class="form-control" />
                <span asp-validation-for="Task.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.SpecialInstructions" class="control-label"></label>
                <input asp-for="Task.SpecialInstructions" class="form-control" />
                <span asp-validation-for="Task.SpecialInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.PetId" class="control-label"></label>
                <select asp-for="Task.PetId" class ="form-control" asp-items="@(new SelectList(Model.CurrentPets,"PetId", "Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
