@model PetManager.Models.ToDoTask

@{
    ViewBag.Title = "Edit";
}

<h1>Edit</h1>

<h4>ToDoTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskId" />
            <input type="hidden" asp-for="ResetDay" />
            <div class="form-group">
                <label asp-for="TaskName" class="control-label">Task Name</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialInstructions" class="control-label">Special Instructions</label>
                <input asp-for="SpecialInstructions" class="form-control" />
                <span asp-validation-for="SpecialInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetId" class="control-label">Pets</label>
                <select asp-for="PetId" class="form-control" asp-items="@(new SelectList(ViewBag.Pets, "PetId", "Name"))"></select>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrequencyId" class="control-label">Frequency</label>
                <select asp-for="FrequencyId" class="form-control" asp-items="@(new SelectList(ViewBag.Frequencies, "FrequencyId", "Interval"))"></select>
                <span asp-validation-for="FrequencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="PetOwners" asp-action="Index">Back to Index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
